.collection_details {
  padding: 0 0 5rem;
  .nft_grid_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    padding: 6rem 0;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &-card {
      place-self: flex-end;

      @media (max-width: 768px) {
        place-self: center;
      }

      .nft_card {
        background: var(--section-background);
        border-radius: var(--card-border-radius);
        padding: 20px 10px;
        max-width: 320px;
        min-width: 280px;
        width: 100%;
        box-shadow: var(--card-box-shadow);

        @media (max-width: 768px) {
          min-width: unset;
        }

        .lazy-load-image-background {
          width: inherit;
          aspect-ratio: 1;

          img {
            width: inherit;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: var(--card-border-radius);
          }
        }

        .no_image {
          width: inherit;
          aspect-ratio: 1;
          display: grid;
          place-items: center;
        }
      }
    }

    &-details {
      justify-self: flex-start;
      align-self: center;

      .controls {
        button {
          border-radius: 5px;
        }
      }
    }
  }

  .accordion_grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      .properties_block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 1.6rem;

        > div {
          background-color: var(--section-background);
          border-radius: 5px;
          padding: 1rem;
          max-width: 160px;
          width: 100%;

          p {
            color: var(--secondary);
            text-transform: uppercase;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          span {
            color: var(--text-primary);
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .nft_collection-details {
        .flex {
          gap: 1rem;

          > span img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }

          h2 {
            font-size: 2.4rem;
            line-height: 2rem;
          }

          a svg path {
            stroke: var(--text-primary);
          }
        }

        .grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 8px;

          > div {
            background-color: var(--section-background);
            border-radius: 5px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
          }
        }
      }
    }
  }
}

.accordion {
  border: 1px solid var(--section-background);
  border-radius: 10px;
  overflow: hidden;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 16px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--section-background);
    cursor: pointer;

    &-block {
      display: flex;
      align-items: center;
      gap: 10px;

      &_title {
        font-family: var(--font-regular);
        font-size: 1.8rem;
        text-transform: capitalize;
      }

      svg path {
        fill: var(--text-primary);
      }
    }

    &-arrow {
      display: grid;
      place-items: center;

      &.active {
        svg {
          transform: rotate(0deg);
        }
      }

      svg {
        transform: rotate(180deg);
        transition: transform 200ms linear;
      }
    }
  }

  &_content {
    &-box {
      background-color: transparent;
      max-height: 24rem;
      padding: 0 2.4rem;
      overflow-y: auto;
    }
  }
}
