%base-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: nowrap;
  outline: none;
  border: 1px solid transparent;
  padding: 0.8rem 1.6rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 4px;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}

.btn_primary {
  @extend %base-styles;
  background-color: var(--btn-primary);
  border-radius: 30px;
  box-shadow: var(--btn-primary-shadow);
}

.btn_primary-outline {
  @extend %base-styles;
  background-color: transparent;
  color: var(--btn-primary);
  border: 1px solid var(--btn-primary);
  border-radius: 30px;
}

.btn_secondary {
  @extend %base-styles;
  background-color: var(--btn-secondary);
  box-shadow: var(--btn-secondary-shadow);
  border-radius: 5px;
}

.btn_ternary {
  @extend %base-styles;
  background-color: var(--btn-ternary);
  color: var(--text-primary);
  border-radius: 5px;

  svg path {
    stroke: var(--text-primary);
  }
}

.btn_error {
  @extend %base-styles;
  background-color: var(--btn-error);
}
