h1 {
  font-size: 6.4rem;
  line-height: 7rem;
  font-family: var(--font-light);
  color: var(--text-primary);
}

h2 {
  font-family: var(--font-light);
  font-size: 4rem;
  line-height: 4.4rem;
  color: var(--text-primary);
}

h3 {
  font-family: var(--font-light);
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: var(--text-primary);
}

p {
  font-weight: 400;
  font-size: 1.4rem;
  font-family: var(--font-light);
  color: var(--text-primary);
}
